#Exclude all files without an extension
*
!/**/
!*.*

#Exclude files with the following extensions
*.log
*.g++
*.nvcc
*.S

#Exclude the following specific files by names
*cifar-10-batches-bin
*DS_Store